.getAllBoats, .addBoat, .addGangOfBoats, .findBoat, .searchContainer, .deleteContainer{
    border:1px solid black;
    border-radius:5px;
    margin:1em;
    padding:1em;
}
body{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: #333C76;
}

h1{
    color: #DAE2E9;
    margin:.5em;
    
    font-family: 'Noto Sans KR', sans-serif;
   
}
h3{
    color:#8ba1cc;
    font-family:'Mulish', sans-serif
}
p{
    font-family: 'Noto Sans KR', sans-serif;
    color:white;
    
}


ul{
    list-style:none;
    padding-inline-start: 0;
}
li{
    padding:.3em;
    color:white;
}
